<h4>
  <template is="dom-if" if="[[_isEqual(params.publicationId, publicationId)]]">
    <a href="?sessionId=[[publication.sessionId]]&search=[[params.search]]">[[publication.title]]</a>
  </template>
  <template is="dom-if" if="[[!_isEqual(params.publicationId, publicationId)]]">
    <a href="?sessionId=[[publication.sessionId]]&publicationId=[[publicationId]]&search=[[params.search]]">[[publication.title]]</a>
  </template>

  <template is="dom-if" if="[[publication.acmLink]]">
    <a href="[[publication.acmLink]]" target="_blank" rel="noopener noreferrer">
      <svg class="icon">
        <title>Download Paper</title>
        <use xlink:href="/assets/icons.svg#link"></use>
      </svg>
    </a>
  </template>

  <template is="dom-if" if="[[publication.hm]]">
    <img title="Honorable Mention" alt="Honorable Mention" src="[[_baseUrl]]assets/honorable.png">
  </template>
  <template is="dom-if" if="[[publication.award]]">
    <img title="Best Paper" alt="Best Paper" src="[[_baseUrl]]assets/best.png">
  </template>
</h4>
<section>
  <template is="dom-if" if="[[!showInformation]]">
    <p>
      <template is="dom-repeat" items="[[authors]]">
        <chi-author-summary author-id="[[item]]"></chi-author-summary>
      </template>
    </p>
    <p>
      [[publication.shortText]]
    </p>
  </template>
  <template is="dom-if" if="[[showInformation]]">
    <h5>
      Authors
    </h5>
    <ul class="authors">
      <template is="dom-repeat" items="[[authors]]">
        <li>
          <chi-author author-id="[[item]]"></chi-author>
        </li>
      </template>
    </ul>
    <p>
      [[publication.abstract]]
    </p>
  </template>
</section>