<header>
  <div class="container">
    <a href="https://chi2018.acm.org">
      <img class="logo" src="/assets/logo-bigengage-blackbg.png">
    </a>
    <p>
      Montréal, Canada • April 21-26
    </p>
  </div>
  <div class="nav-container desktop-nav">
    <nav class="container">
      <a href="/" class$="nav-item schedule-at-a-glance [[_isScheduleAtAGlance(route)]]">Schedule at Glance</a>
      <template is="dom-repeat" items="[[scheduleArray]]">
        <a href="/day/[[item.$key]]" class$="nav-item [[_isSelected(params.id, item.$key)]]">[[item.dayString]]</a>
      </template>
      <a href="/search" class$="nav-item [[_isSearch(route)]]">Search</a>
    </nav>
  </div>

  <div class="nav-container phone-nav">
    <button type="button" class="nav-button menu" on-click="openNavigation">
      <svg class="icon">
        <title>Open Navigation</title>
        <use xlink:href="/assets/icons.svg#menu"></use>
      </svg>
    </button>
    <button type="button" class="nav-button close hidden" on-click="closeNavigation">
      <svg class="icon">
        <title>Close Navigation</title>
        <use xlink:href="/assets/icons.svg#close"></use>
      </svg>
    </button>
    <nav class="container phone">
      <a href="/search" class="nav-item">Search</a>
      <a href="/" class="nav-item">Schedule at Glance</a>
      <template is="dom-repeat" items="[[scheduleArray]]">
        <a href="/day/[[item.$key]]" class="nav-item">[[item.dayString]]</a>
      </template>
    </nav>
  </div>
</header>