<path-fetcher></path-fetcher>
<query-params-fetcher></query-params-fetcher>

<chi-header class="on-top"></chi-header>
<chi-header class="fixed"></chi-header>
<chi-search maps="{{maps}}" room="{{room}}" show-filter-warning="{{showFilterWarning}}" searching="{{searching}}" hits-number="{{hitsNumber}}" search="{{search}}" search-result-types="{{searchResultTypes}}"></chi-search>
<section class="container">

  <template is="dom-if" if="[[searching]]">
    <div class="searching">
      <img class="loader" src="[[_baseUrl]]assets/loader.gif"><br/>
      Searching...
    </div>
  </template>

  <template is="dom-if" if="[[!showFilterWarning]]">
    <template is="dom-if" if="[[search]]">
      <template is="dom-if" if="[[!searching]]">
        <template is="dom-if" if="[[hitsNumber]]">
          <div class="center-container">
            <p>
              Your search term "<b>[[search]]</b>" has returned <b>[[hitsNumber]]</b> result(s).
              <ul>
                <template is="dom-if" if="[[searchResultTypes.author]]">
                  <li>
                    [[searchResultTypes.author]] Author(s)
                    <ul>
                      <template is="dom-repeat" items="[[searchResultTypes.displayNameList]]" as="displayName">
                        <li>
                          [[displayName.displayName]]: [[displayName.publications.length]] Paper(s)
                        </li>
                      </template>
                    </ul>
                  </li>
                </template>
                <template is="dom-if" if="[[searchResultTypes.primaryInstitution]]">
                  <li>
                    [[searchResultTypes.primaryInstitution]] Primary Institution(s)
                    <ul>
                      <template is="dom-repeat" items="[[searchResultTypes.primaryInstitutionList]]" as="primaryInstitution">
                        <li>
                          [[primaryInstitution.institution]]: [[primaryInstitution.publications.length]] Paper(s)
                        </li>
                      </template>
                    </ul>
                  </li>
                </template>

                <template is="dom-if" if="[[searchResultTypes.secondaryInstitution]]">
                  <li>
                    [[searchResultTypes.secondaryInstitution]] Secondary Institution(s)
                    <ul>
                      <template is="dom-repeat" items="[[searchResultTypes.secondaryInstitutionList]]" as="secondaryInstitution">
                        <li>
                          [[secondaryInstitution.institution]]: [[secondaryInstitution.publications.length]] Paper(s)
                        </li>
                      </template>
                    </ul>
                  </li>
                </template>
                <template is="dom-if" if="[[searchResultTypes.publication]]">
                  <li>[[searchResultTypes.publication]] Paper(s)</li>
                </template>
                <template is="dom-if" if="[[searchResultTypes.session]]">
                  <li>[[searchResultTypes.session]] Session(s)</li>
                </template>
              </ul>
            </p>
          </div>
        </template>

        <template is="dom-if" if="[[!hitsNumber]]">
          <div class="center-container">
            <p>
              Your search term "<b>[[search]]</b>" has returned <b>[[hitsNumber]]</b> results. Please choose another term.
            </p>
          </div>
        </template>
      </template>
    </template>
  </template>

  <template is="dom-if" if="[[showFilterWarning]]">
    <div class="center-container">
      <p>
        Your search term "<b>[[search]]</b>" has returned <b>[[hitsNumber]]</b> results. <br>
        To improve performance, query results will not show up on the schedule.
        <ul>
          <template is="dom-if" if="[[searchResultTypes.author]]">
            <li>[[searchResultTypes.author]] Author(s)</li>
          </template>
          <template is="dom-if" if="[[searchResultTypes.primaryInstitution]]">
            <li>[[searchResultTypes.primaryInstitution]] Primary Institution(s)</li>
          </template>
          <template is="dom-if" if="[[searchResultTypes.secondaryInstitution]]">
            <li>[[searchResultTypes.secondaryInstitution]] Secondary Institution(s)</li>
          </template>
          <template is="dom-if" if="[[searchResultTypes.publication]]">
            <li>[[searchResultTypes.publication]] Paper(s)</li>
          </template>
          <template is="dom-if" if="[[searchResultTypes.session]]">
            <li>[[searchResultTypes.session]] Session(s)</li>
          </template>
        </ul>
      </p>
      <p>
        Please use more specific search terms or use the "Filter Search" above to narrow down results.
      </p>
    </div>
  </template>

  <template is="dom-if" if="[[!maps]]">
    <template is="dom-repeat" items="[[schedule]]">
      <chi-day class="chi-day-item" day="[[item]]" schedule-index="[[index]]"></chi-day>
    </template>
  </template>

  <template is="dom-if" if="[[maps]]">
    <section class="maps-container">
      <h2>Level 5</h2>
      <img class="level-5 map" src="[[_baseUrl]]assets/level-5.svg">
      <h2>Level 2</h2>
      <img class="level-2 map" src="[[_baseUrl]]assets/level-2.svg">
      <h2>Exhibit Hall on Monday</h2>
      <img class="exhibit-mon map" src="[[_baseUrl]]assets/exhibit-hall-mon.svg">
      <h2>Exhibit Hall on Tuesday</h2>
      <img class="exhibit-tue map"src="[[_baseUrl]]assets/exhibit-hall-tue.svg">
      <h2>Societe Des Arts Technologique</h2>
      <div class="mapouter la-sat">
        <div class="gmap_canvas">
          <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Societe Des Arts Technologique&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
        <a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
      </div>
    </section>
  </template>

  <div style="height: 300px"></div>

  <footer class="footer">
    <a class="github-link" href="https://github.com/tjmonsi/chi-conference-component/issues" target="_blank" rel="noopener">
      Suggestions or bug reports.
    </a>
  </footer>
</section>
