:host
  display: block
  padding: 20px 0
  position: relative;

chi-timeslot
  margin: 20px 0

chi-timeslot[hidden]
  display: none;

.invi-anchor
  opacity: 0;
  z-index: -1;
  top: -102px;
  position: absolute