@import '~settings/_variables.styl';

:host
  display: block;

header
  background-image: url('/assets/cropped-cropped-header_9-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-bottom: 20px;

  .logo
    width: 320px;
    padding-top: 22px;

  .container
    padding-top: 30px;

  p
    color: $menu-light-green;
    font-size: 16.7pt;
    margin: 0;

.container
  max-width: 1170px;
  margin: 0 auto;
