.paper
  background: $brand-green
  color: $light

.keynote
  background: $brand-pink
  color: $light

.casestudy
  background: $brand-grey
  color: $light

.course
  background: $brand-blue
  color: $light

.sig
  background: $brand-orange
  color: $light

.panel
  background: $brand-orange
  color: $light

.altchi
  background: $brand-yellow