@import '~settings/_variables.styl';

:host
  display: block
  position: relative

.loader
  display: block;
  padding: 20px;
  width: 50px

.mark
  background: $brand-green
  color: $light

.icon-title
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 10px

.title
  margin: 0

  .anchor
    color: inherit;
    text-decoration: none;
    cursor pointer

  .anchor:hover
    text-decoration: underline;

  .anchor-icon:hover
    text-decoration none

  .img-icon, .icon
    vertical-align: middle;
    height: 26px;
    width: 26px;


  .icon.small
    height: 18px;
    width: 18px;

  .icon.align
    vertical-align: text-top;

  .icon
    margin-left: 10px;

  .icon.img-icon
    margin-right: 10px;
    margin-left: -5px;


.authors-heading
  margin: 20px 0 0 0

.pub-body
  padding: 0 20px;

.chi-author-summary-item
  &:after
    content: ', '

  &:last-of-type
    &:after
      content: ''

.authors
  margin: 0;
  padding: 0
  list-style-type: none;

  .list-item
    list-style-type: none

.invi-anchor
  opacity: 0;
  z-index: -1;
  top: -102px;
  position: absolute

.abstract-anchor
  font-size: 80%
  color: $brand-green;
  cursor pointer;

.circle
  border: 1px solid $dark
  border-radius: 50%;
  margin-left: 10px;

.dialog-button
  background: none;
  fill: $dark;
  color: $dark;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;

  &:hover
    background: $dark;
    color: $light;
    fill: $light;

.icon
  width: 26px;
  height: 26px;

.publication-video
  .publication-video-frame
    width: 900px;
    height: 600px;
    margin-top: 40px;

    @media screen and (max-width: 1100px)
      width: 500px;
      height: 350px;

    @media screen and (max-width: 650px)
      width: 300px;
      height: 200px;