* {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.25px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0.4px;
}

h1 {
  letter-spacing: 1px;
}


