// brand colors
// $brand-grey:= #414042;
// $brand-blue:= #0568A4;
// $brand-green:= #95C93D;
// $brand-yellow:= #ead40f;
// $brand-orange:= #F29D34;
// $brand-pink:= #D91966;

// // menu colors
// $menu-light-green:= #C0D73B;
// $menu-blue:= #185479;
// $menu-yellow:= #EAD40F;
// $menu-green:= #7A9E41;
// $menu-pink:= #CA0D5A;
// $menu-orange:= #E1820D;
// $menu-dark:= #333333;

// $dark:= #000000;
// $grey:= #222222;
// $light:= #ffffff;

$brand-grey:= #414042;
$brand-blue:= #0568A4;
$brand-green:= #359F9E;
$brand-yellow:= #FF6601;
$brand-orange:= #653C00;
$brand-pink:= #1C2200;

// menu colors
$menu-light-green:= #C0D73B;
$menu-blue:= #185479;
$menu-yellow:= #EAD40F;
$menu-green:= #7A9E41;
$menu-pink:= #CA0D5A;
$menu-orange:= #E1820D;
$menu-dark:= #333333;

$dark:= #000000;
$grey:= #222222;
$light:= #ffffff;
