@import '~objects/_container.styl';
@import '~settings/_variables.styl';

:host
  display: block

nav
  &.on-top
    position: relative;

  &.fixed
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: none;

  &.fixed-phone
    position: fixed;
    top: 72px;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: none;

  ul
    list-style-type none
    margin: 0;
    padding: 0;

  ul.desktop
    display: flex;
    flex-direction: row;
    align-items: center;


  li
    margin: 0 15px;

    a
      color: inherit
      text-decoration: none;

    a:hover
      text-decoration: underline;

  li.search-item
    flex: 1
    text-align: right

    input
      border: none;
      border-bottom: 1px solid black;

    @media screen and (max-width: 600px)
      margin: 0;

  li.schedule
    @media screen and (max-width: 1200px)
      display: none;

  li.phone
    display: none

    @media screen and (max-width: 1200px)
      display: block

    @media screen and (max-width: 600px)
      margin: 0;

  li.schedule-phone
    padding: 10px 0;

.icon
  width: 25px;
  height: 25px;

.nav-button
  margin: 10px 20px;
  background: none;
  fill: $dark;
  color: $dark;
  border: none;
  cursor: pointer;

  @media screen and (max-width: 600px)
    margin: 10px 0;

  &.hidden
    display: none;

  &:hover
    background: $dark;
    color: $light;
    fill: $light;

.search-container
  @media screen and (max-width: 1200px)
    input
      width: 300px

  @media screen and (max-width: 700px)
    input
      width: 200px

  @media screen and (max-width: 550px)
    input
      width: auto

  @media screen and (max-width: 490px)
    input
      width: 150px

  @media screen and (max-width: 420px)
    input
      width: 150px

.search-button
  background: none;
  border: 1px solid black;
  background: $brand-green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 1rem;
  @media screen and (max-width: 480px)
    display: none

.search-container
  @media screen and (max-width: 480px)
    display: flex;
    align-items: center;

    input
      flex: 1
      margin-left: 20px

  @media screen and (max-width: 350px)
    input
      width: 80px

  @media screen and (max-width: 310px)
    input
      width: 60px

  @media screen and (max-width: 300px)
    input
      width: 40px

.search-button-icon
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  display: none

  .icon
    fill: $brand-green;

  @media screen and (max-width: 480px)
    display: inline-block

.filter-container
  padding: 20px
  position: fixed;
  top: 68px;
  left: 0;
  right: 0;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: none;

  h3
    margin: 0

  .filter-grid
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr

    @media screen and (max-width: 1000px)
      grid-template-columns: 1fr 1fr 1fr

    @media screen and (max-width: 770px)
      grid-template-columns: 1fr 1fr

    @media screen and (max-width: 550px)
      grid-template-columns: 1fr

    .checkbox-container
      padding: 10px 20px;

      @media screen and (max-width: 550px)
        padding: 5px 20px

      @media screen and (max-height: 500px)
        padding: 0px 20px