@import '~settings/_variables.styl';

:host
  display: flex;
  flex-flow: column
  padding: 10px 20px;
  position: relative;

  @media screen and (max-width: 400px)
    padding: 10px;

.pointer
  cursor pointer;

.venue-small
  text-align: right;
  padding: 10px;
  margin: 0;

.loader-container
  // padding: 20px;
  text-align: center;

  .loader
    width: 100%;
    max-width: 50px;

    @media screen and (max-width: 400px)
      max-width: 50px;

:host(:hover:not([show-publications])), :host([force-close])
  .icon, .venue-icon, .venue-icon-2
    filter: invert(100%)

.mark
  background-color: $brand-green
  color: $light

.title
  font-size: 80%
  margin: 0
  flex: 1

  &.big
    font-size: 100%;

  .icon
    margin-right: 10px
    vertical-align: -5%
    height: 16px;
    width: auto;

  .circle
    border: 1px solid $dark
    border-radius: 50%;
    margin-left: 10px;

  a
    text-decoration: none
    color: inherit

  a:hover
    text-decoration: underline

.venue
  margin: 10px 0 0 0;
  font-size: 80%


  img
    vertical-align: middle;
    height: 20px;

.publications
  padding: 20px 0;

.chi-publication-item
  padding: 20px;
  background: white;
  color: $dark;

.chi-publication-item[hidden]
  display: none;

.chi-room-item
  padding: 10px 0 0 0
  text-align: left;

.invi-anchor
  opacity: 0;
  z-index: -1;
  top: -102px;
  position: absolute

.icon
  width: 18px;
  height: 18px;

.venue-icon
  height: 26px
  vertical-align: middle
  // margin-right: 10px

.venue-icon-2
  vertical-align: middle
  // margin-right: 10px

.add-anchor
  color: $brand-green;

.copy-anchor
  cursor pointer
  margin-left: 10px

.copy-icon
  vertical-align: middle;
  width: 32px
  height: 32px