<div class$="invi-anchor invi-anchor-session-[[sessionId]]"></div>
<template is="dom-if" if="[[loading]]">
  <div class="loader-container">
    <img class="loader" src="[[_baseUrl]]assets/loader-2.gif">
  </div>
</template>
<template is="dom-if" if="[[_openPublications(showPublications, forceShowPublications)]]">
  <h3 class="title big">
    <a class="pointer" on-click="_closeSession">

      <template is="dom-if" if="[[getVenueTitle(session.venue)]]">
        [[getVenueTitle(session.venue)]]:
      </template>
      <marked-element marked="[[_cleanText(session.title)]]"></marked-element>



      <a class="copy-anchor" title="Copy Link" on-click="copyLink">
        <svg class="copy-icon">
          <title>Copy/Share Link</title>
          <path d="M10.59,13.41C11,13.8 11,14.44 10.59,14.83C10.2,15.22 9.56,15.22 9.17,14.83C7.22,12.88 7.22,9.71 9.17,7.76V7.76L12.71,4.22C14.66,2.27 17.83,2.27 19.78,4.22C21.73,6.17 21.73,9.34 19.78,11.29L18.29,12.78C18.3,11.96 18.17,11.14 17.89,10.36L18.36,9.88C19.54,8.71 19.54,6.81 18.36,5.64C17.19,4.46 15.29,4.46 14.12,5.64L10.59,9.17C9.41,10.34 9.41,12.24 10.59,13.41M13.41,9.17C13.8,8.78 14.44,8.78 14.83,9.17C16.78,11.12 16.78,14.29 14.83,16.24V16.24L11.29,19.78C9.34,21.73 6.17,21.73 4.22,19.78C2.27,17.83 2.27,14.66 4.22,12.71L5.71,11.22C5.7,12.04 5.83,12.86 6.11,13.65L5.64,14.12C4.46,15.29 4.46,17.19 5.64,18.36C6.81,19.54 8.71,19.54 9.88,18.36L13.41,14.83C14.59,13.66 14.59,11.76 13.41,10.59C13,10.2 13,9.56 13.41,9.17Z" />
        </svg>
      </a>

      <!-- <template is="dom-if" if="[[session.liveStream]]"> -->
        <a class="copy-anchor" title="Play Livestream" href="https://[[session.liveStream]]" target="_blank" rel="noopener noreferrer">
          <svg class="copy-icon">
            <path d="M18,9H16V7H18M18,13H16V11H18M18,17H16V15H18M8,9H6V7H8M8,13H6V11H8M8,17H6V15H8M18,3V5H16V3H8V5H6V3H4V21H6V19H8V21H16V19H18V21H20V3H18Z" />
          </svg>
        </a>
      <!-- </template> -->
    </a>
  </h3>
</template>
<template is="dom-if" if="[[!_openPublications(showPublications, forceShowPublications)]]">
  <h3 class="title">
    <template is="dom-if" if="[[getVenueTitle(session.venue)]]">
        [[getVenueTitle(session.venue)]]:
    </template>
    <marked-element marked="[[_cleanText(session.title, 30)]]"></marked-element>
  </h3>
</template>

<template is="dom-if" if="[[!_openPublications(showPublications, forceShowPublications)]]">
  <p class="venue">

    <template is="dom-if" if="[[session.venue]]">
      <img class="venue-icon" src="[[_baseUrl]]assets/[[_slugifyClass(session.venue)]]_black.svg">
    </template>
    <template is="dom-if" if="[[session.hasAward]]">
      <img class="venue-icon-2" title="Session has Best Paper Award" alt="Session has Best Paper Award" src="[[_baseUrl]]assets/best.png">
    </template>
    <template is="dom-if" if="[[session.hasHonorableMention]]">
      <img class="venue-icon-2" title="Session has Honorable Mention Award" alt="Session has Honorable Mention Award" src="[[_baseUrl]]assets/honorable.png">
    </template>
    <chi-room class="chi-room-item" room-id="[[session.roomId]]"></chi-room>
  </p>
</template>

<template is="dom-if" if="[[_openPublications(showPublications, forceShowPublications)]]">
  <p class="venue">
    <!-- <template is="dom-if" if="[[session.venue]]">
      <img class="venue-icon" src="[[_baseUrl]]assets/[[_slugifyClass(session.venue)]]_black.svg">
    </template> -->
    <template is="dom-if" if="[[session.chair]]">
      Chair:
      <marked-element marked="[[session.chair]]"></marked-element><br>
    </template>
    [[_getDateTime(dayString, dateString, timeString)]]<br>

    <chi-room class="chi-room-item" room-id="[[session.roomId]]"></chi-room>

  </p>


  <section class="publications">
    <template is="dom-repeat" items="[[publications]]">
      <chi-publication class="chi-publication-item" publication-id="[[item.$key]]" session-id="[[sessionId]]"></chi-publication>
      <!-- <chi-publication class="chi-publication-item" this-session-id="[[sessionId]]" show-publication-id$="[[item]]" publication-id="[[item]]" schedule-id="[[session.scheduleId]]"></chi-publication> -->
    </template>
  </section>
</template>