@import '~settings/_variables.styl';
// @import '~objects/_venue.styl'

:host
  display: block

section
  display: flex;
  flex-wrap: wrap

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr

  @media screen and (max-width: 849px)
    grid-template-columns: 1fr 1fr 1fr

  @media screen and (max-width: 599px)
    grid-template-columns: 1fr 1fr

  @media screen and (max-width: 449px)
    grid-template-columns: 1fr

  chi-session
    float: left;
    border: 1px solid black;
    // border-top: none;
    min-height: 250px;
    // for flex when grid is not supported
    width: 250px;

    // when grid is supported
    @supports (display: grid)
      width: auto;

    @supports not (display: grid)
      @media screen and (max-width: 449px)
        width: 100%;

  chi-session[hidden]
    display: none;

  chi-session[show-publications]
    grid-column: 1 / 5;
    width: 100%;

    @media screen and (max-width: 849px)
      grid-column: 1 / 4;

    @media screen and (max-width: 599px)
      grid-column: 1 / 3;

    @media screen and (max-width: 449px)
      grid-column: 1 / 2;

    @supports (display: grid)
      width: auto;

  &.grey-border
    border-top: 4px solid $brand-grey

  .grey-timeslot
    background: $brand-grey;
    color: $light;

  &.blue-border
    border-top: 4px solid $brand-blue

  .blue-timeslot
    background: $brand-blue;
    color: $light;

  &.green-border
    border-top: 4px solid $brand-green

  .green-timeslot
    background: $brand-green;
    color: $light;

  &.yellow-border
    border-top: 4px solid $brand-yellow

  .yellow-timeslot
    background: $brand-yellow;

  &.orange-border
    border-top: 4px solid $brand-orange

  .orange-timeslot
    background: $brand-orange;
    color: $light;

  &.pink-border
    border-top: 4px solid $brand-pink

  .pink-timeslot
    background: $brand-pink;
    color: $light;

  .timeslot
    padding: 20px;

    h2
      margin: 0