<template is="dom-if" if="[[sessions.length]]">
  <section class$="grid [[_timeslotColorClass(scheduleIndex)]]-border">
    <div class$="[[_timeslotColorClass(scheduleIndex)]]-timeslot timeslot">
      <h2 class="time">
        [[timeslot.time]]
      </h2>
    </div>
    <template is="dom-repeat" items="[[sessions]]">
      <chi-session date-string="[[dateString]]" time-string="[[timeslot.time]]" class$="chi-session-item [[_timeslotColorClass(scheduleIndex)]]-item" on-tap="_toggleSession" show-session-id$="[[item]]" session-id="[[item]]" on-chi-session-hidden="_debouncedCheckTimeslot" time="[[index]]"></chi-session>
    </template>
  </section>
</template>