@import '~settings/_variables.styl';

:host
  display: flex
  padding: 20px;

h2
  width: 200px;
  display: block;

.sessions
  flex: 1;
  margin-left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;

.paper
  background: $brand-green
  color: $grey

.keynote
  background: $brand-pink
  color: $light

.casestudy
  background: $brand-grey
  color: $light

.course
  background: $brand-blue
  color: $light

.sig
  background: $brand-orange

.panel
  background: $brand-orange

.altchi
  background: $brand-yellow

